body {
	background-color: #3366ff;
}

* {
	margin: 0px;
	padding: 0px;
}

#wrapper{
	text-align: center;
}
#info{
	width: 80%;
	margin: auto;
}
.clearfix{
	clear: both;
}
h1 {
	float: left;
	font-size: 72px;
	color: white;
}

p {
	float: right;
	font-size: 24px;
	color: white;
}

a {
	color: white;
}